/* Asterisk selector in order to override default browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: green;
}

/* Main Content */
main {
    background-color: yellow;
}

/* Footer */
footer {
    background-color: red;
}